.Header{
    height: 100px !important;
    width: 100%;
    background-color: brown;
}
.Headeralignment {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
  }
  
  .Headeralignment a {
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
  }
  
  .Headeralignment a:hover {
    color: #007bff;
  }